/* Gaya untuk judul halaman */
.card-header {
    background-color: #007BFF; /* Warna latar belakang judul */
    color: #fff; /* Warna teks judul */
    font-size: 20px; /* Ukuran font judul */
    font-weight: bold; /* Ketebalan font judul */
    padding: 10px; /* Ruang padding judul */
    border-radius: 5px; /* Sudut yang lebih lembut pada judul */
}

/* Gaya untuk tombol "Tambah" */
.btn-success {
    background-color: #28a745; /* Warna latar belakang tombol "Tambah" */
    color: #fff; /* Warna teks tombol "Tambah" */
    
}

/* Gaya untuk tombol "Filter" */
.btn-primary {
    background-color: #007BFF; /* Warna latar belakang tombol "Filter" */
    color: #fff; /* Warna teks tombol "Filter" */
  
}

.btn-info {
    background-color: #007BFF; /* Warna latar belakang tombol "Filter" */
    color: #fff; /* Warna teks tombol "Filter" */
   
}

/* Gaya untuk tombol "Reset" */
.btn-danger {
    background-color: #dc3545; /* Warna latar belakang tombol "Reset" */
    color: #fff; /* Warna teks tombol "Reset" */
    
}

/* Gaya untuk tabel data */
.table {
    font-size: 14px; /* Ukuran font dalam tabel */
}

/* Gaya untuk baris ganjil dalam tabel */
.table tr:nth-child(odd) {
    background-color: #f8f9fa; /* Warna latar belakang baris ganjil */
}

/* Gaya untuk baris genap dalam tabel */
.table tr:nth-child(even) {
    background-color: #ffffff; /* Warna latar belakang baris genap */
}

/* Gaya untuk tampilan kartu dalam section */
.card {
    background-color: #fff;
    margin-bottom: 20px; /* Ruang bawah setiap kartu */
    border: 1px solid #e2e2e2; /* Border kartu */
    border-radius: 8px; /* Sudut yang lebih lembut pada kartu */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan kartu */
    transition: transform 0.3s ease-in-out; /* Efek transisi saat hover pada kartu */
}

/* Gaya untuk section */
section {
    padding: 20px;
    background-color: #ecfdfd; /* Warna latar belakang */
}

/* Gaya untuk judul (h3) dalam card */
.card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #1067aa; /* Warna biru */
    margin-bottom: 10px;
}

/* Gaya untuk paragraf (p) dalam card */
.card p {
    font-size: 16px;
    color: #333; /* Warna teks default */
    margin-bottom: 10px;
}

/* Gaya untuk grafik container */
.canvas-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Warna latar belakang untuk container */
    padding: 20px; /* Ruang padding di sekitar container */
}

/* Gaya untuk canvas grafik */
canvas {
    max-width: 100%;
    height: auto;
    border: 2px solid #ecfdfd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* Gaya hover untuk canvas grafik */
canvas:hover {
    transform: scale(1.05);
    border-color: #ecfdfd; /* Ubah warna border saat hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Efek bayangan lebih besar saat hover */
}
